
thead th:nth-child(1), 
tbody th:nth-child(1) {
 text-align: left;
}


thead th:nth-child(2),
tbody td:nth-child(2) {
  text-align: right;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  text-align:right;
  padding-right: 10px;
}

thead th:nth-child(4),
tbody td:nth-child(4) {
  text-align:left;
}

tfoot th {
 text-align: right;
 padding-right: 10px;
}

table {
 border-collapse: collapse;
 border: none;
}

thead tr{
    border-top: 1px solid gray;
}

tfoot tr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}


tbody tr:nth-child(odd) {
  border: none;
  background-color: #D3D3D3;

